{% extends 'frontbase.html.twig' %}

{% block title %}Hello HotelController!
{% endblock %}

{% block body %}

	{% for o in tab %}
		<div class="mkdf-grid-col-9">
			<div class="mkdf-tours-search-content">
				<div class="mkdf-tours-row mkdf-small-space mkdf-tours-columns-1">
					<div class="mkdf-tours-row-inner-holder mkdf-outer-space">
						<div class="mkdf-tours-list-item mkdf-tours-row-item mkdf-item-space post-57 tour-item type-tour-item status-publish has-post-thumbnail hentry tour-category-seaside tour-attribute-accommodation tour-attribute-guide tour-attribute-insurance tour-attribute-meals">
							<div class="mkdf-tours-list-item-table">
								<div class="mkdf-tours-list-item-image-holder">
									<div class="mkdf-tours-list-item-image-holder-inner">
										<a href="wanderers.qodeinteractive.com/tour-item/ultimate-thailand/index.html" style="background-image: url(wanderers.qodeinteractive.com/wp-content/uploads/2018/02/tour-1-featured-img.jpg);">
											<img width="800" height="932" src="wanderers.qodeinteractive.com/wp-content/uploads/2018/02/tour-1-featured-img.jpg" class="attachment-full size-full wp-post-image" alt="a" loading="lazy" srcset="https://wanderers.qodeinteractive.com/wp-content/uploads/2018/02/tour-1-featured-img.jpg 800w, https://wanderers.qodeinteractive.com/wp-content/uploads/2018/02/tour-1-featured-img-258x300.jpg 258w, https://wanderers.qodeinteractive.com/wp-content/uploads/2018/02/tour-1-featured-img-768x895.jpg 768w, https://wanderers.qodeinteractive.com/wp-content/uploads/2018/02/tour-1-featured-img-450x524.jpg 450w" sizes="(max-width: 800px) 100vw, 800px"/>
										</a>
										<span class="mkdf-tours-standard-item-label-holder">
											<span class="mkdf-tour-item-label">
												<span class="mkdf-tour-item-label-inner">
													{{o.address}}
												</span>
											</span>
										</span>
									</div>
								</div>
								<div class="mkdf-tours-list-item-content-holder">
									<div class="mkdf-tours-list-item-title-price-holder">
										<h3 class="mkdf-tour-title">
											<a href="wanderers.qodeinteractive.com/tour-item/ultimate-thailand/index.html">{{o.nom}}</a>
										</h3>
									</div>
									<div class="mkdf-tours-list-item-price-holder">
										<div class="mkdf-tours-list-item-price">
											<span class="mkdf-tours-price-holder">
												<span class="mkdf-tours-item-price ">{{o.nbEtoile}}</span>
											</span>
											<span class="mkdf-tours-list-price-label">/5</span>
										</div>
									</div>
									<div class="mkdf-tours-list-item-excerpt">
										<p></p>
									</div>

									<div class="mkdf-tours-list-item-bottom-content">
										<div class="mkdf-tours-list-item-bottom-item">
											<div class="mkdf-tour-duration-holder">
												<span class="mkdf-tour-duration-icon mkdf-tour-info-icon">
													<span class="icon_clock"></span>
												</span>
												<span class="mkdf-tour-info-label">
													{{o.type}}
												</span>
											</div>
										</div>
										<div class="mkdf-tours-list-item-bottom-item">
											<div class="mkdf-tour-min-age-holder">
												<span class="mkdf-tour-min-age-icon mkdf-tour-info-icon">
													<span class="icon_group"></span>
												</span>
												<span class="mkdf-tour-info-label">
													{{o.nbEtoile}}
												</span>
											</div>
										</div>
										<div class="mkdf-tours-list-item-bottom-item">
											<a href="{{ path('chambre_hotelf',{'id':o.id}) }}">Chambres</a>
										</div>


									</div>
								</div>
							</div>
						</div>
						<div class="mkdf-tours-list-item mkdf-tours-row-item mkdf-item-space post-1036 tour-item type-tour-item status-publish has-post-thumbnail hentry tour-category-adventure review-criteria-accommodation review-criteria-destination review-criteria-meals review-criteria-transport review-criteria-value_for_money tour-attribute-accommodation tour-attribute-guide tour-attribute-insurance tour-attribute-meals">
							<div class="mkdf-tours-list-item-table">
								<div class="mkdf-tours-list-item-image-holder">
									<div class="mkdf-tours-list-item-image-holder-inner">
										<a href="wanderers.qodeinteractive.com/tour-item/discover-india/index.html" style="background-image: url(wanderers.qodeinteractive.com/wp-content/uploads/2018/03/tour-2-featured-img.jpg);">
											<img width="800" height="932" src="wanderers.qodeinteractive.com/wp-content/uploads/2018/03/tour-2-featured-img.jpg" class="attachment-full size-full wp-post-image" alt="a" loading="lazy" srcset="https://wanderers.qodeinteractive.com/wp-content/uploads/2018/03/tour-2-featured-img.jpg 800w, https://wanderers.qodeinteractive.com/wp-content/uploads/2018/03/tour-2-featured-img-258x300.jpg 258w, https://wanderers.qodeinteractive.com/wp-content/uploads/2018/03/tour-2-featured-img-768x895.jpg 768w, https://wanderers.qodeinteractive.com/wp-content/uploads/2018/03/tour-2-featured-img-450x524.jpg 450w" sizes="(max-width: 800px) 100vw, 800px"/>
										</a>
										<span class="mkdf-tours-standard-item-label-holder">
											<span class="mkdf-tour-item-label">
												<span class="mkdf-tour-item-label-inner"></span>
											</span>
										</span>
									</div>
								</div>


							</div>
						</div>
					</div>
					{# <div class="mkdf-pagination mkdf-tours-search-pagination">
																						    <ul>
																						        <li class="active" data-page="1">
																						            <span>1</span>
																						        <li class="" data-page="2">
																						            <a href="#">
																						                2 </a>
																						        <li class="" data-page="3">
																						            <a href="#">
																						                3 </a>
																						        <li data-page="2" class="mkdf-pagination-next">
																						            <a href="#"><span class="arrow_carrot-right"></span></a>
																						        </li>
																						    </ul>
																						</div> #}
				</div>
			{% endfor %}

		{% endblock %}
