{% extends 'frontbase.html.twig' %}

{% block title %}Hello HotelController!
{% endblock %}

{% block body %}
	<section id="main-content">
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-title">
						<h4>Hotel Data Table
						</h4>

					</div>

					{# <a href="{{ path('agenceAdd') }}">Add</a> #}
					<div class="bootstrap-data-table-panel">
						<div class="table-responsive">
							<table id="row-select" class="display table table-borderd table-hover">


								<tbody>

									{% for u in tab %}

										<div class="recent-comment m-t-15">
											<div class="media">
												<div class="media-left">
													<a href="#"><img class="media-object" src="assets/images/avatar/1.jpg" alt="..."></a>
												</div>
												<div class="media-body">
													<h4 class="media-heading color-primary">{{u.nom}}</h4>
													<p>{{u.address}}</p>
													<p class="comment-date">{{u.nbEtoile}}/5</p>
												<a href="{{ path('chambre_hotel',{'id':u.id}) }}">Vols</a>
												</div>
											</div>
										{% endfor %}
									</tbody>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				<!-- /# card -->
			</div>
			<!-- /# column -->
		</div>
		<!-- /# row -->


	</section>
{% endblock %}
