{% extends 'base.html.twig' %}

{% block title %}Hello HotelController!{% endblock %}

{% block body %}
<section id="main-content">
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-title">
						<h4>Hotel Data Table
						</h4>

					</div>

					{# <a href="{{ path('agenceAdd') }}">Add</a> #}
					<div class="bootstrap-data-table-panel">
						<div class="table-responsive">
							<table id="row-select" class="display table table-borderd table-hover">
								<thead>
									<tr>
										<th>nom</th>
										<th>address</th>
										<th>type</th>
										<th>nbEtoile</th>
										<th>phone</th>
										<th>capacite</th>
										<th></th>
									</tr>
								</thead>

								<tbody>

									{% for u in tab %}

										<tr>
											<td>{{u.nom}}</td>
											<td>{{u.address}}</td>
											<td>{{u.type}}</td>
											<td>{{u.nbEtoile}}</td>
											<td>{{u.phone}}</td>
											<td>{{u.capacite}}</td>

											<td>
												<a href="{{ path('chambreAdd',{'id':u.id}) }}">Ajout Chambre</a>
												<a href="{{ path('chambre_hotel',{'id':u.id}) }}">Afficher Chambre</a>
												<a href="{{ path('hotelDelete',{'id':u.id}) }}">Delete</a>
												<a href="{{ path('hotelUpdate',{'id':u.id}) }}">Update</a>
											</td>
										</tr>
										<tr></tr>
									{% endfor %}

								</tbody>
								<tfoot>
									<tr>
										<th>nom</th>
										<th>address</th>
										<th>type</th>
										<th>nbEtoile</th>
										<th>phone</th>
										<th>capacite</th>
										<th></th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
				<!-- /# card -->
			</div>
			<!-- /# column -->
		</div>
		<!-- /# row -->


	</section>
{% endblock %}
