{% extends 'base.html.twig' %}

{% block title %}Hello AgenceController!
{% endblock %}

{% block body %}

	{{ form_start(HotelForm) }}
	{# {{form_row(HotelForm)}} #}

	<div class="form-group row">
		<label for="fname" class="col-sm-3 text-end control-label col-form-label">nom</label>
		<div class="col-sm-9">
			{{form_widget(HotelForm.nom)}}
			{{form_errors(HotelForm.nom)}}
		</div>
	</div>
	<div class="form-group row">
		<label for="lname" class="col-sm-3 text-end control-label col-form-label">address</label>
		<div class="col-sm-9">
			{{form_widget(HotelForm.address)}}
			{{form_errors(HotelForm.address)}}
		</div>
	</div>
	<div class="form-group row">
		<label for="lname" class="col-sm-3 text-end control-label col-form-label">type</label>
		<div class="col-sm-9">
			{{form_widget(HotelForm.type)}}
			{{form_errors(HotelForm.type)}}
		</div>
	</div>
	<div class="form-group row">
		<label for="lname" class="col-sm-3 text-end control-label col-form-label">nbEtoile</label>
		<div class="col-sm-9">
			{{form_widget(HotelForm.nbEtoile)}}
			{{form_errors(HotelForm.nbEtoile)}}
		</div>
	</div>
	<div class="form-group row">
		<label for="lname" class="col-sm-3 text-end control-label col-form-label">capacite</label>
		<div class="col-sm-9">
			{{form_widget(HotelForm.capacite)}}
			{{form_errors(HotelForm.capacite)}}
		</div>
	</div>
	<div class="form-group row">
		<label for="lname" class="col-sm-3 text-end control-label col-form-label">phone</label>
		<div class="col-sm-9">
			{{form_widget(HotelForm.phone)}}
			{{form_errors(HotelForm.phone)}}
		</div>
	</div>

	<button type="submit" class="btn bg-gradient-dark w-100 my-4 mb-2">Submit</button>


	<!-- jquery vendor -->
	<script src="assets/js/lib/jquery.min.js"></script>
	<script src="assets/js/lib/jquery.nanoscroller.min.js"></script>
	<!-- nano scroller -->
	<script src="assets/js/lib/menubar/sidebar.js"></script>
	<script src="assets/js/lib/preloader/pace.min.js"></script>
	<!-- sidebar -->

	<!-- bootstrap -->


	<script src="assets/js/lib/barRating/jquery.barrating.js"></script>
	<script src="assets/js/lib/barRating/barRating.init.js"></script>
	<script src="assets/js/lib/bootstrap.min.js"></script>
	<script src="assets/js/scripts.js"></script>
	{{form_end(HotelForm)}}
{% endblock %}
