{% extends 'base.html.twig' %}

{% block title %}Hello AgenceController!
{% endblock %}

{% block body %}


	<section id="main-content">
		<div class="row">
			<div class="col-lg-12">
				<div class="card">
					<div class="card-title">
						<h4>Bootstrap Data Table
						</h4>

					</div>

					<a href="{{ path('agenceAdd') }}">Add</a>
					<div class="bootstrap-data-table-panel">
						<div class="table-responsive">
							<table id="row-select" class="display table table-borderd table-hover">
								<thead>
									<tr>
										<th>idProp</th>
										<th>nom</th>
										<th>numero</th>
										<th>Address</th>
										<th>nbEtoile</th>
										<th></th>
									</tr>
								</thead>

								<tbody>

									{% for u in tab %}

										<tr>
											<td>{{u.idProp}}</td>
											<td>{{u.nom}}</td>
											<td>{{u.numero}}</td>
											<td>{{u.Address}}</td>
											<td>{{u.nbEtoile}}</td>

											<td>
												<a href="{{ path('agenceDelete',{'id':u.id}) }}">Delete</a>
											</td>
										</tr>
										<tr></tr>
									{% endfor %}

								</tbody>
								<tfoot>
									<tr>
										<th>idProp</th>
										<th>nom</th>
										<th>numero</th>
										<th>Address</th>
										<th>nbEtoile</th>
										<th></th>
									</tr>
								</tfoot>
							</table>
						</div>
					</div>
				</div>
				<!-- /# card -->
			</div>
			<!-- /# column -->
		</div>
		<!-- /# row -->


	</section>

{% endblock %}
